altair<5
ansi2html==1.9.2
appnope==0.1.4
asttokens==3.0.0
attrs==25.3.0
bidict==0.23.1
blinker==1.9.0
Bottleneck==1.4.2
Brotli==1.0.9
cachetools==5.5.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
colour==0.1.5
comm==0.2.2
contourpy==1.3.1
cycler==0.11.0
dalex==1.7.2
dash==3.0.2
dash_auth==2.3.0
dash-bootstrap-components==2.0.1
debugpy==1.8.14
decorator==5.1.1
dice-ml==0.11
dtreeviz==2.2.2
econml==0.15.1
erroranalysis==0.5.5
et-xmlfile==1.1.0
executing==0.8.3
explainerdashboard==0.4.8
fairlearn==0.7.0
fastjsonschema==2.20.0
Flask==3.0.3
flask-cors==5.0.1
flask_simplelogin==0.2.0
Flask-SocketIO==5.5.1
Flask-WTF==1.2.2
fonttools==4.55.3
gevent==24.11.1
gitdb==4.0.12
GitPython==3.1.44
graphviz==0.20.3
greenlet==3.1.1
h11>=0.16
holisticai==1.0.14
idna==3.10
importlib_metadata==8.6.1
iniconfig==2.1.0
interpret_community==0.32.0
interpret-core==0.6.9
ipykernel==6.29.5
ipython==9.1.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.5
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.7.1
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter-dash==0.4.2
jupyterlab_widgets==3.0.13
kiwisolver==1.4.8
lightgbm==4.6.0
llvmlite==0.41.1
markdown-it-py==2.2.0
MarkupSafe==3.0.2
matplotlib==3.10.0
matplotlib-inline==0.1.6
mdurl==0.1.0
ml_wrappers==0.6.0
narwhals==1.34.1
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==2.5
numba==0.58.1
numexpr==2.10.1
numpy==1.26.2
openpyxl==3.1.5
oyaml==1.0
packaging==24.2
pandas==1.5.3
parso==0.8.4
patsy==1.0.1
pexpect==4.9.0
pillow==11.2.1
pip==25.0
platformdirs==4.3.7
plotly==5.24.1
plotly-express==0.4.1
pluggy==1.5.0
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==7.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==19.0.1
pybind11==2.13.6
pydeck==0.7.1
Pygments==2.19.1
Pympler==0.9
pyparsing==2.4.7
pytest==8.3.5
python-dateutil==2.9.0.post0
python-engineio==4.12.0
python-socketio==5.13.0
pytz==2025.2
PyYAML==6.0.2
pyzmq==26.4.0
rai_core_flask==0.7.6
raiutils==0.4.2
raiwidgets==0.36.0
referencing==0.36.2
requests==2.32.3
responsibleai==0.36.0
retrying==1.3.4
rich==13.9.4
rpds-py==0.24.0
scikit-learn==1.5.1
scipy==1.15.2
semver==2.13.0
setuptools==75.8.0
shap==0.43.0
simple-websocket==1.1.0
six==1.17.0
slicer==0.0.7
smmap==5.0.2
sparse==0.16.0
stack-data==0.2.0
statsmodels==0.13.5
streamlit==1.16.0
tenacity==9.1.2
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
typing_extensions==4.13.2
tzdata==2023.3
tzlocal==5.2
unicodedata2==15.1.0
urllib3==2.4.0
validators==0.18.2
waitress==3.0.2
wcwidth==0.2.13
Werkzeug==3.0.6
wheel==0.45.1
widgetsnbextension==4.0.13
wsproto==1.2.0
WTForms==3.2.1
xgboost==2.1.1
zipp==3.21.0
zope.event==5.0
zope.interface==7.2
